/* Fraunces Regular */
@font-face {
    font-family: 'Fraunces';
    src: url('assets/fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf') format("truetype");
    font-weight: 100 900;
    font-style: normal;
}
/*Fraunces Italic*/
@font-face {
    font-family: 'Fraunces';
    src: url('assets/fonts/fraunces/Fraunces-Italic-VariableFont_SOFT,WONK,opsz,wght.ttf') format("truetype");
    font-weight: 100 900;
    font-style: italic;
}

/* DM Sans Regular */
@font-face {
    font-family: 'DM Sans';
    src: url('assets/fonts/dm-sans/DMSans-VariableFont_opsz,wght.ttf') format("truetype");
    font-weight: 100 900;
    font-style: normal;
}


/* DM Mono Regular */
@font-face {
    font-family: 'DM Mono';
    src: url('assets/fonts/dm-mono/DMMono-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

/* DM Mono Medium */
@font-face {
    font-family: 'DM Mono';
    src: url('assets/fonts/dm-mono/DMMono-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

:root {
    --Neutral-900: hsl(33, 15%, 15%);
    --Neutral-800: hsl(33, 22%, 20%);
    --Neutral-700: hsl(32, 20%, 29%);
    --Neutral-600: hsl(33, 17%, 41%);
    --Neutral-400: hsl(36, 22%, 86%);
    --Neutral-200: hsl(30, 24%, 93%);
    --Neutral-100: hsl(35, 60%, 96%);
    --Neutral-50:  hsl(40, 60%, 98%);
    --Neutral-0:   hsl(0, 0%, 100%);

    --Sun-500: hsl(42, 83%, 58%);
    --Sun-300: hsl(44, 84%, 75%);
    --Sun-200: hsl(45, 100%, 74%);
    --Sun-50:  hsl(41, 100%, 93%);

    --Terracotta-700: hsl(15, 69%, 37%);
    --Terracotta-600: hsl(15, 74%, 41%);
    --Terracotta-500: hsl(18, 62%, 47%);
    --Terracotta-400: hsl(22, 72%, 56%);

    --Blue-500: hsl(230, 49%, 56%);
    --Rose-500: hsl(340, 48%, 52%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:var(--Neutral-100);
    min-height: 100dvh;
    min-width: 100dvw;
    display: flex;
}



aside{
    font-family:DM Sans, sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
main{
    min-height: 100%;
    border-left: 0.001px solid var(--Neutral-400);
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    max-width: 90vw;
    min-width: 0;
    flex: 1;
    gap: 1.5rem;
    padding-bottom: 1rem;


}
.sidebarf div:nth-child(1){
margin:1rem;
    padding:0.75rem;
    border-bottom:0.001px solid var(--Neutral-400);
}
#sec{
    display: flex;
    padding:0.75rem;
    justify-content: space-between;
    align-items: center;
    background: var(--Neutral-0);
    margin:0.75rem;
    border-radius: 0.5rem;
    color:var(--Neutral-800);
}
#sec div{
    display: flex;
    align-items: center;
}
#sec div p{
    margin-left:0.75rem;
    font-size:0.8rem;
    transform: scaleY(0.9);
} .no1{
    color:var(--Neutral-0);
    border-radius:50%;
      background-color: var(--Terracotta-600);
    font-size:0.55rem ;
      width: 1rem;
      height: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .house{
      display:flex;
      margin:0.75rem;
      padding:0.75rem;
      color:var(--Neutral-700);
  }
  .house p{
font-size:0.8rem;
      margin-left:0.75rem;
      transform: scaleY(0.9);
  }
  .town,.break,.message{
      display:flex;
      margin:0.75rem;
      padding:0.75rem;
      font-size:0.8rem;
      color:var(--Neutral-700);
  }
  .town p,.break p,.message p{
      margin-left:0.75rem;
      transform: scaleY(0.9);
  }
  .weather-card{
      position:relative;
      background-color: var(--Sun-300);
      padding: 0.85rem;
      margin:0.75rem;
      border-radius: 0.5rem;
      color:var(--Neutral-700);
      overflow: hidden;

  }
  .weather-card img{
      position:absolute;
      top:-1.25rem;
      right:-1.25rem;
  }
  .weather-card p:nth-child(1)
  {
      font-size:0.5rem;
      text-transform:uppercase;
      line-height: 1.6rem;
  }
  .weather-card p:nth-child(2){
      font-family: "Fraunces", serif;
      font-size:2.5rem;
      font-weight: 500;
      color: var(--Neutral-900);
      line-height: 1.1;
      font-variation-settings: "SOFT" 20, "WONK" 0, "opsz" 144;
  }
  .weather-card p:nth-child(3){
      font-size:0.75rem;
      line-height: 1.6rem;
  }
  .aside-final{
      font-size:0.5rem;
      text-transform:uppercase;
      line-height: 1.6rem;
      color: var(--Neutral-700);
      letter-spacing: 0.125rem;
      margin: 0.75rem;
     padding:0.75rem;
      border-top: 0.001px solid var(--Neutral-400);
  }
  header{
      margin:0.75rem;
  }
  header div{
display:flex;
      justify-content: space-between;
  }
  header >p{
      font-family:DM Sans, sans-serif;
      text-transform:uppercase;
      font-size:0.5rem;
      line-height: 1.6rem;
      color: var(--Neutral-600);
      letter-spacing: 0.125rem;
  }
  .header1 p{
      font-family:Fraunces, serif;
font-size:2rem;
      font-weight:500;
      color: var(--Neutral-900);
      line-height: 1.2;
  }
  .lucia{
color:var(--Terracotta-500);
      font-style:italic;
  }
  .header2 button{
      margin:0.65rem;
      border-radius: 1.1rem;
      font-family: 'DM Sans', sans-serif;
      font-size: 0.75rem;
      font-weight: 600;
      padding: 0.6rem 1.2rem;

  }
  .header2 button:first-child{
      color:var(--Neutral-800);
      border:0.01rem solid var(--Neutral-400);
  }
  .header2 button:last-child{
      background-color: var(--Neutral-900);
      color: var(--Neutral-0);

  }
  .reciptcard{
      margin:1rem;
      margin-right: 0;
      padding:1rem;
     background-color: var(--Neutral-0);
      border-radius: 0.5rem;
      z-index: 1;
      transform: rotate(-2deg);

  }
  .reciptheader{
      display:flex;
      justify-content: space-between;
      padding:0.75rem;
      border-bottom: 0.001px solid var(--Neutral-400);
  }
  .recip{
      text-transform: uppercase;
  }
  .recip + p {
      font-family:Fraunces, serif;
      font-size:1.3rem;
      font-weight:400;
  }
  .iden{
      font-family:DM Sans, sans-serif;
      font-size:0.75rem;
      line-height: 1.6rem;
      color: var(--Neutral-600);
      letter-spacing: 0.125rem;
  }
  .reciptb1{
      display:flex;
      justify-content: center;
      line-height: 1.65rem;
      border-bottom:0.01rem solid var(--Neutral-400);
  }.reciptb1 > div{
    margin:1.5rem;
     }
   .big,.paid+p{
       font-family:Fraunces, serif;
       font-size:1.55rem;
       font-weight:500;
   }
   .big+p,.kj>p:nth-child(2){
       font-family:Fraunces, serif;
       font-size:0.75rem;
       font-weight:400;
       color: var(--Neutral-700);
   }
   .recipeb2,.recipeb3,.tourist{
       display: flex;
       justify-content: space-between;
       font-family: 'DM Sans', sans-serif;
       font-size: 1rem;
       font-weight: 500;
       color: var(--Neutral-700);
       line-height: 2.5rem;
       letter-spacing: 0.01em;
   }
   .recipeb2{
       gap:0.75rem;
   }
  .recipeb2 p:nth-child(1),.recipeb2 p:nth-child(2),.welcomecard p:nth-child(3),.arrival>p:nth-child(2),.wifi>p:nth-child(2),.le,.breakfast>p:nth-child(2){
      white-space: nowrap;
  }
.tourist{
    border-bottom:0.01rem solid var(--Neutral-700);
}
.total{
    display:flex;
    justify-content: space-between;line-height: 3rem;
}.total p,.total div img{line-height: 3rem;}
.total div img{
    height:2.3rem;
}
.welcomecard{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--Terracotta-600);
    border-radius: 0.5rem;
    margin:1rem;
    margin-left:0;
    padding:1.5rem;
    color:var(--Neutral-0);
    transform: rotate(2.5deg) ;
    z-index: 2;

}.
.welcomecard p:nth-child(1){
    border-top: 0.001px dashed var(--Neutral-400);
padding-top: 0.8rem;
 }
.welcomecard p:nth-child(1), .welcomecard p:nth-child(5) {
    font-family: DM Sans, sans-serif;
    text-transform: uppercase;
    font-size: 0.8rem;
    line-height: 1.6rem;
    letter-spacing: 0.125rem;
}
.welcomecard div{
    align-self: flex-end;
}
.welcomecard div+p{
    font-family:Fraunces, serif;
    font-size:1.5rem;
    font-weight:400;
    font-variation-settings: 'SOFT'100, 'WONK' 0;
    color: var(--Sun-300);
    font-style: italic;
    line-height: 3rem;
}

.mar{
    display:block;
    color:var(--Neutral-0);
    font-size:2.5rem;
 }
 .welcomecard p:nth-child(4),.arrival>p:nth-child(3),.breakfast>p:nth-child(3){
     font-family: 'DM Sans', sans-serif;
     font-weight: 400;
     font-size: 1rem;
     color: var(--Neutral-0);
     margin-top: 3.25rem;
 }
.welcomecard p:nth-child(5){
    line-height: 2rem;
    margin-top: 4rem;
}
.welcomecard p:nth-child(6){
    font-family: 'DM Sans', sans-serif;
    font-size: 1.35rem;
    font-weight: 400;
    line-height: 2rem;
}
.bookingcard{
    display:flex;
    width: 100%;
    min-width:0;
    justify-content: center;
    align-items: flex-start;
    position: relative;

}.reciptcard{
    flex: 1.5 1 18rem;
     max-width: 27rem;
     min-width: 14rem;

 }.welcomecard {
       flex: 1 1 20rem;
       max-width: 27rem;
       min-width: 15rem;
    box-shadow:
    0 1px 15px var(--Terracotta-600);

   }
.arrival,.breakfast,.wifi{
    display:flex;
    flex-direction: column;
   max-height: fit-content;
border-radius: 0.5rem;
    background-color: var(--Neutral-0);
    flex:1 1 380px;
    margin:0.5rem;
    padding:0.35rem;
    min-height: 100%;
justify-content: space-around;
}
    .arrival-header,.wifi-header,.breakfast-header{
        display:flex;
        margin:0;
        align-items:baseline;
       justify-content: space-between;
        gap:0.1rem;

    }
.arrival-header div div,.wifi-header div div,.breakfast-header div div{
    background-color: var(--Terracotta-600);
    border-radius: 0.5rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrival-header  p,.wifi-header  p,.breakfast-header p{
    font-family:DM Sans, sans-serif;
    font-size:0.9rem;
    font-weight:500;
    line-height: 1.75rem;
    color: var(--Terracotta-600);
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}
.arrival-header >p,.wifi-header>p,.breakfast-header >p{
    font-family:Fraunces, serif;
    font-size:1rem;
}
    .arrival-header div,.wifi-header div ,.breakfast-header div{
        display:flex;
        gap:0.5rem;
      align-items:baseline;
    }
    .guestinfo{
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        height:240px;width: 100%;
        min-width:0;

    }
.arrival>p:nth-child(3),.breakfast>p:nth-child(3){
    color: var(--Neutral-700);
    margin-top:0;

}
.wifi-header div div{
    background-color: var(--Blue-500);
}
.wifi-header  p{
    color:var(--Blue-500);
}.wifi-b1{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:0.1rem;
    background-color: var(--Neutral-200);
    border-radius: 0.5rem;
    margin:0.1rem;
    padding:0.2rem;
 }
 .le{
     font-size:0.8rem;
 }
 .an{
     display:flex;
     flex-wrap: wrap;
    align-items: center;
 }

 .copy{
     background-color: var(--Neutral-50);
     border-radius: 30%;
     padding:0.3rem;
     margin-left: 0.25rem;
     border:none;
     color: var(--Neutral-700);
 }
 .breakfast-header div div{
     background-color: var(--Rose-500);
 }
 .breakfast-header div>p:nth-child(1),.breakfast-header div>p:nth-child(2),.breakfast-header>p:nth-child(2){
   color: var(--Rose-500);}
     .kj p:nth-child(1){
         font-family:Fraunces, serif;
         font-weight:500;
         font-size:0.9rem;
     }

.welcomecard {
    transform: rotate(2.5deg);
    transition: transform 0.4s ease;
}

.reciptcard {
    transform: rotate(-2deg);
    transition: transform 0.4s ease;
}

.bookingcard:hover .welcomecard{ transform: rotate(0deg) ;margin-left: 1rem;}
.bookingcard:hover .reciptcard {
    transform: rotate(0deg) ;
    margin-right:1rem ;
}
@media (max-width:768px) {
        #sec,.house,.town,.break,.message,.local-weather{
            display: none;
        }
    .sidebarf {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .sidebarf> div:nth-child(1){
        border-bottom:none;
    }.part1{
    border-bottom:0.001px solid var(--Neutral-400);
    padding:0 1rem;
         }
        .bookingcard{
            flex-direction: column;
            align-items: center;
            margin: 0 auto;

        }
        .welcomecard,.reciptcard{
            width:90%;
            max-width:none;
        }
        .welcomecard{
            order:-1;
        }
        .header1{
            width:100%;
            flex-wrap: wrap;
        }
        .recipeb2{
            font-size: 0.89rem;
            font-weight: 500;
        }
        .guestinfo{
            display:flex;
            flex-direction: column;
align-items: center;
        }

       body{
       flex-direction: column;
           overflow: auto;
           overflow-y: scroll;
               }
        main{
          margin:0 auto;
            border-left:none;
            justify-content: flex-start;
        }
        .wifi,.breakfast,.arrival{
            width:100%;
        }
}
    @media (min-width:768px) {
        .sidebarf div:nth-child(2){
          display: none;
        }
.arrival,.breakfast,.wifi{
    min-width: 155px;
}  }




